# Base16 Zenburn
# Author: elnawe

set default-bg                  "#3d3d3d"
set default-fg                  "#404040"

set statusbar-fg                "#808080"
set statusbar-bg                "#606060"

set inputbar-bg                 "#dfcf9f"
set inputbar-fg                 "#21322f"

set notification-bg             "#383838"
set notification-fg             "#ffffff"

set notification-error-bg       "#383838"
set notification-error-fg       "#dca3a3"

set notification-warning-bg     "#383838"
set notification-warning-fg     "#dca3a3"

set highlight-color             "#dfcf9f"
set highlight-active-color      "#7cb8bb"

set completion-bg               "#383838"
set completion-fg               "#dfcf9f"

set completion-highlight-fg     "#383838"
set completion-highlight-bg     "#dfcf9f"

set recolor-lightcolor          "#3f3f3f"
set recolor-darkcolor           "#dcdccc"

set recolor                     "false"
set recolor-keephue             "false"
