# Lackluster Night
# Author: phatt

set default-fg                  "#2a2a2a"
set default-bg                  rgba(16,16,16,0.9) #0f0f0f

set statusbar-fg                "#444444"
set statusbar-bg                rgba(25,25,25,0.6) #191919

set inputbar-fg                 "#aaaaaa"
set inputbar-bg                 rgba(25,25,25,0.6)

set notification-fg             "#aaaaaa"
set notification-bg             rgba(25,25,25,0.6)

set notification-error-fg       "#aaaaaa"
set notification-error-bg       rgba(25,25,25,0.6)

set notification-warning-fg     "#aaaaaa"
set notification-warning-bg     rgba(25,25,25,0.6)

set highlight-color             rgba(171,171,119,0.5)
set highlight-active-color      rgba(222,238,237,0.9)
set highlight-fg                rgba(222,238,237,0.9)

set completion-fg               "#aaaaaa"
set completion-bg               rgba(42,42,42,0.6) #2a2a2a"

set completion-highlight-fg     "#2a2a2a"
set completion-highlight-bg     rgba(170,170,170,0.6) #aaaaaa"

set recolor-lightcolor          "#101010"
set recolor-darkcolor           "#aaaaaa"

set recolor                     "false"
set recolor-keephue             "false"

