[Desktop Entry]
Name=Easy Effects
Comment=Easy Effects Service
Exec=/usr/bin/nohup /usr/bin/easyeffects --gapplication-service > /dev/null
Icon=com.github.wwmm.easyeffects
StartupNotify=true
Terminal=true
Type=Application
